<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></a></title>
  </head>
  <body>
      <div class="b-container" style="background-image: url('<%= background %>')">
        <div class="center">
          <h1 class="home-title yolo"><%= title %></h1>
          
            <button
              class="btn--play yolo"
            />
            
        </div>
      </div>
  </body>
</html>
