<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Why Bible Translation</a></title>
  </head>
  <body>
      <div class="b-container">
        <div class="center">
          <h1 class="home-title yolo">Why Bible Translation</h1>
          
            <button
              class="btn--play yolo"
            />
            
        </div>
      </div>
  </body>
</html>
